


            
            .radio{
                width: 100%;
                background-color: black;
                position:fixed;
                display:inline-block;
                margin: 0 0 0 0;
            }
            a{
                color: whitesmoke;
            } 
            .vesa{
                
                background-image: url("1111.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .item3 { grid-area: main; }
            .item4 { grid-area: right;}
            .item5 { grid-area: footer; }
            .grid-container {
              margin: 0;             
              color: #1a1a1a;
              display: inline-table;
              display: grid;
              grid-template-areas:

                'main main main main right right'

                'footer footer footer footer right right';
              grid-gap: 10px;
              
              padding: 0px;
            }
           .grid-container1 {
                
                margin: 0;
                
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 10px;
                border: 5px;
                padding: 10px;
                background-color: #1a1a1a;
               
                }
            .grid-container1 > div {
                color: wheat;
                background-color: #1a1a1a;
                
                text-align: center;
                font-size: 30px;
}
            .grid-container > div {
              color: #1a1a1a;
              text-align: center;
              padding: 15px ;
              font-size: 30px;
}
            a:hover{
                color: yellow;
            }
            .dropbtn {
                background-color: #333333;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
              }
            .dropdown {
                position: relative;
                display: inline-block;
                
            }
            .dropdown-content {
                display: none;
                font-family: "Times New Roman", Times, serif;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
             
                z-index: 1;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: underline;
                font-family: "Times New Roman", Times, serif; 
                display: block;
            }
            .dropdown:hover .dropdown-content {
                display: block;
                color: green;
            }
            .dropdown:hover .dropbtn {
                color: yellow ;
              
            }
            body{
                background-color: black;
                margin: 0
            }
            p{
                color: grey;
            }
           .rreth{
            border-radius: 50%;
          
            }
            div{
                display: inline-block;
            }
            .dubai{
                margin-left: 20%;
                align-content: center;
            }
            .kairo{
                margin-left:20%;
                margin-top: 0;    
            }
            .hapsire{
                align-content: center;
                padding-left: 19px;
                padding-right: 19px;
            }
            .jeta{
                margin-left: 10%;
                margin-right: 75%;
                padding-left: 0;
                border-left: 0;
            }
            .tre{
                
                text-align: center;
                background-color: #333333;                
                border-radius: 25px 25px 0 0;
                border: 2px solid #595959;
                padding: 5px;
                margin: 2% 8% 0 8%;
                width: 85%                
            }
            .fundi{
                background-color: #333333;
                text-align: right;
                border-radius: 0 0 25px 25px ;
                border: 2px solid #595959;
                padding: 5px;
                margin: 0 8% 0 8%;
                width: 85%
            }           
            h2{
                display: inline;
                padding: 1em 1em 1em 1em;
                text-decoration: underline;
            }
            .perdore{
                text-decoration: underline grey ;
                color:gray;
                
            }
            .rinia{
                background-image: url("albania.png");
            }
            .pleqeria{
                background-image: url("Biscuits.jpg");
                background-repeat: no-repeat;
                background-size: 100% 150%;
            }
            
            .goat{
                
                background-color: #333333;
                border: 2px solid;
                margin: 0 0 0 0;              
                padding: 3% 3% 5% 3%;
            }
            h1{
                border-top: 10px;
               margin-top: 15%;
                margin-left: 1%;
                margin-bottom: 75%;
                padding: 15px;
                color: grey;
                display: inline;
            }
            .kresha{
                align-content: center;
            }
            .veq{
                margin-top: 0.5%;
                margin-right: 2%;
                color: grey;
                float: right;
                display: inline;
                font-style: italic;
            }
            
            table{
                display: inline-block;
                align-content: center;
                
            }
            .rast{
                color: grey;
                text-decoration: none;
                    
            }
            #imazhi
            {
               
                float: left;
                width: 250px; 
                height: 300px; 
                margin-left: 8.7%;
                border: solid darkolivegreen 6px;
            }
            #pHistoriku 
            {
                background-color: grey;
                color: white;
                font-size: 19px;
                font-family: sans-serif, helvetica, "times new roman";
                margin-top: 35px;
                margin-left: 6.6%;
                margin-right: 6.6%;
                
            }
            