            .radio{
                            width: 100%;
                            background-color: black;
                            position:fixed;
                            display:inline-block;
                            margin: 0 0 0 0;
                        }
            body {
              font-family: Arial;
              margin: 0;
            }
            * {
              box-sizing: border-box;
            }
            img {
              vertical-align: middle;
            }
            .container {
    align-content: center;
 
}
            .mySlides {
              display: none;
              margin: 0 20% 0 20%;
            }
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 90%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: white;
                font-weight: bold;
                font-size: 20px;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;}
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
            .cursor {
              cursor: pointer;
            }
            .numbertext {
              color: #f2f2f2;
              font-size: 12px;
              padding: 8px 12px;

              top: 0;
            }
            .caption-container {
              text-align: center;
              background-color: #222;
              padding: 2px 16px;
              color: white;
            }
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            .column {
              float: left;
              width: 16.66%;
            }
            .demo {
              opacity: 0.6;
            }
            .active,
            .demo:hover {
              opacity: 1;
            }
            a{
                color: whitesmoke;
            }           
            a:hover{
                color: yellow;
            }
            .dropbtn {
                background-color: #333333;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
              }
            .dropdown {
                position: relative;
                display: inline-block;
                
            }
            .dropdown-content {
                display: none;
                font-family: "Times New Roman", Times, serif;
                position: absolute;
                background-color: #999999;
                min-width: 160px;
             
                z-index: 1;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: underline;
                font-family: "Times New Roman", Times, serif; 
                display: block;
            }
            .dropdown:hover .dropdown-content {
                display: block;
                color: green;
            }
            .dropdown:hover .dropbtn {
                color: yellow ;
              
            }
            body{
                background-color: black;
                margin: 0
            }
            p{
                color: grey;
            }
            .hapsire{
                align-content: center;
                padding-left: 19px;
                padding-right: 19px;
            }
            .tre{
                
                text-align: center;
                background-color: #333333;                
                border-radius: 25px 25px 0 0;
                border: 2px solid #595959;
                padding: 5px;
                margin: 2% 8% 0 8%;
                width: 85%                
            }
            .fundi{
                background-color: #333333;
                text-align: right;
                border-radius: 0 0 25px 25px ;
                border: 2px solid #595959;
                padding: 4px;
                margin: 0 8% 0 8%;
                width: 85%
            }           
            h2{
                display: inline;
                padding: 1em 1em 1em 1em;
                text-decoration: underline;
            }
            .goat{
                
                background-color: #333333;
                border: 2px solid;
                margin: 0 0 0 0;              
                padding: 3% 3% 5% 3%;
            }
            h1{
                border-top: 10px;
               margin-top: 15%;
                margin-left: 1%;
                margin-bottom: 75%;
                padding: 15px;
                color: grey;
                display: inline;
            }
            .kresha{
                align-content: center;
            }
            h3{
                
                margin-top: 0.5%;
                margin-right: 2%;
                color: grey;
                float: right;
                display: inline;
                font-style: italic;
            }
            
            
            .rast{
                color: grey;
                text-decoration: none;
               font-family: "Times New Roman", Times, serif; 
                    
            }
	   
            
            